---
title: "Creating_Dataframes"
author: "Aavinash"
date: 2020-08-12
description: "-"
type: technical_note
draft: false
---

In [1]:
import pandas as pd

In [2]:
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']

In [3]:
df = pd.DataFrame(lst)

In [4]:
df

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [5]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}

In [6]:

df = pd.DataFrame(data)

In [7]:
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [8]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

In [9]:
df = pd.DataFrame(data)

In [10]:
print(df[['Name', 'Qualification']])

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd